@import './theme.css';

body {
  font-family: "Fira Code Variable", monospace;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root footer {
  margin-top: auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
